body, html {
  height: 100%;
  margin: 0;;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 2rem;
  background-color: #e9f2ff;
}

.login-form {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 10px;
  background-color: #e9f2ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-header {
  text-align: left;
  margin-bottom: 1rem;
}

.login-header h1 {
  font-size: 24px;
  color: #003366;
}

.DividerLine1 {
  border: 1px solid #003366;
  margin: 10px 0 20px;
  margin-right: 30%;
}

.form-group {
  margin-bottom: 1.5rem;
  position: relative;
}

.form-group input {
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 2.5rem;
  border: 1px solid #003366;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group input::placeholder {
  color: gray;
}

.form-group .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #003366;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-actions a {
  color: gray;
}

.form-actions button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #003366;
  color: white;
  cursor: pointer;
}

.form-actions button:hover {
  background-color: #002244;
}

.footer {
  text-align: left;
  margin-top: 2rem;
  color: gray;
}
.DividerLine2 {
  border: 1px solid gray;
  margin: 10px 0 20px;
}

.footer img {
  width: 150px;
  margin: 0 1rem;
}

.image-container {
  width: 50%;
}
